# Environment files (contains passwords - VERY IMPORTANT to exclude!)
backend/.env
frontend/.env

# Dependencies
**/node_modules/

# Build folders
frontend/dist/
frontend/dist-ssr/

# Uploads
backend/uploads/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log